<div class="comments card2 ">
    {{#each this}}
    <div class="card">
        <h3 class="card"></h3>
        <section class="comment card-body row">

            <div class="comment-text col-6">
                "{{comment_text}}"
                <div class="signature">
                    -posted by '{{user.username}}' on {{format_date created_at}}
                </div>
            </div>
            
        </section>
    </div>
    {{/each}}
</div>