
{{#if posts.length}}
<section>
  <h2>Your Posts</h2>
    {{#each posts as |post|}}
      {{> dashboard-post }}
    {{/each}}

</section>
{{/if}}

<a class="btn-gold2" href="/dashboard/new">add new post</a>

<script src="/javascript/add-post.js"></script>